
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


    <style type="text/css">
    .emptyList {
        height : 100vh;
    }
    body {
      text-decoration: none;
    }
    a { 
      color: inherit; 
    }
    </style>

	<title>
		Profile Dashboard
	</title>

</head>


<body style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat;">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: +2;">
  <a class="navbar-brand" href="{% url 'ors:dashboard' %}"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;"> ONLINE RENTAL STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  	<ul class="navbar-nav mr-auto">
  		<li class="nav-item">
          <form class="form-inline"  method="POST" action="{% url 'ors:search' %}" enctype="multipart/form-data">
            {% csrf_token %}
             <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <div class="dropdown show" style="margin-right: 6px;">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  Category
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Electronics</a>
                    <a class="dropdown-item" href="#">Lifestyle</a>
                  </div>
                </div>
                <center>
                <button is="sr" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </center>
          </form>
  		</li>
  	</ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ors:dashboard' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 	aria-expanded="false">
          	Post
        	</a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          	<a class="dropdown-item" href="{% url 'ors:addProduct' %}">Post an add</a>
          	<a class="dropdown-item" href="{% url 'ors:myPosts' %}">Manage post</a>
        	</div>
    	</li>
      <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          	Orders
        	</a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         		<a class="dropdown-item" href="{% url 'ors:orderHistory' %}">My Orders</a>
          		<a class="dropdown-item" href="{% url 'ors:requests' %}">Requests</a>
        	</div>
    	</li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Notification
          </a>
          
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            {% if notifications %}
            {% for notification in notifications %}
            <a class="dropdown-item" href="{% url 'ors:notificationShow' notification.id %}">{{ notification.message }} | {{ notification.viewed }}</a>
            {% endfor %}
            {% endif %}
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{ user.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:wishlist' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'ors:profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'ors:logout' %}">Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"  style="margin-top: 56px; z-index: 1;">
  {% for message in messages %}
      <div class="mr-auto bg-light" id="message" style="display: none; z-index: 2; padding: 0px 2px 2px 0px; width: 100%;">
        <center>
          {{ message }}
        <!-- <a href="#" class="del-msg">&times;</a> -->
        </center>
      </div>
  {% endfor %}
  <div class="collapse" id="sortBy">
    <a href="{% url 'ors:searchTag' 'newest' %}"> <button type="button" class="btn btn-outline-light" >Newest First</button></a>
    <a href="{% url 'ors:searchTag' 'pricelow2high' %}"><button type="button" class="btn btn-outline-light">Price - Low to High</button></a>
    <a href="{% url 'ors:searchTag' 'pricehigh2low' %}"><button type="button" class="btn btn-outline-light">Price - High to Low</button></a>
  </div>
  <div class="collapse" id="filter">
    <button class="btn btn-outline-warning" disabled>FILTER</button>
    <a href="{% url 'ors:searchTag' 'free' %}"><button type="button" class="btn btn-outline-light">Free</button></a>
    <button type="button" class="btn btn-outline-light">Availability</button>
  </div>
  <div class="ml-auto">
    <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="filter">FILTER</button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sortBy" aria-expanded="false" aria-controls="sortBy">
        SORT BY
    </button>
  </div>
</nav>


<div style="margin-top: 168px ; padding: 2%; z-index:-1" >

{% if feed %}
  {% for product in feed %}
  <div class="card bg-light mb-3" id="Product" style="border: hidden;" >
    <div class="card-header" style="background-color:#e0e0e0">
      <div class="row" style="width: 100%">
        <div class="col-10">
          <a href="{% url 'ors:productPage' product.id %}" style="text-decoration:none">
            <h5 class="card-title">{{product.name}}</h5>
          </a>
        </div>
        <div class="col-1" style="font-size: 20px;">
          <b>{{ product.quantity }}</b>
        </div>
        <div class="col-1">
          {% if product.ptype == "free" %}
            <button type="button" class="btn btn-danger" disabled>FREE</button>
          {% elif product.ptype == "rent" %}
            <button type="button" class="btn btn-info" disabled>RENT</button>
          {% else %}
            <button type="button" class="btn btn-warning" disabled>SELL</button>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-xs-12 border" style="vertical-align: middle; ">
          <a href="{% url 'ors:productPage' product.id %}" style="text-decoration:none; padding: auto;">
            <center><img src="{{ product.image.url }}" style="height:100%; max-height: 245px; max-width: 100%;"></center>
          </a>
        </div>
        <div class="col-lg-7 col-xs-12">
          <div class="row" style="padding: 2%; height: 45px">
            by - {{product.owner}}
          </div>
          <div class="row" style="padding: 2%; height: 155px;overflow-y: hidden;" >
             {{ product.description }}
          </div>
          <div class="row" style="padding: 2%;height: 45px;">
            <h4> Price: {{product.price}}</h4>
          </div>
          <hr>
          {% if product.quantity > 0 %}
            <h5>InStock</h5>
          {% else %}
            <h5>OutofStock</h5>
          {%endif%}
        </div>
        <div class="col-lg-1 col-xs-12" style="">
            <div class="row" style=" height: 100%;">
              <div class="col-6 col-lg-12" style="display: flex; justify-content: center; align-items: center;">
                  <a href="{% url 'ors:addWishlist' product.id %}">
                    <i class="material-icons" id="addwishlist" style="font-size: 48px;">
                    local_grocery_store
                  </i></a>
              </div>
              <div class="col-6 col-lg-12" style="display: flex; justify-content: center; align-items: center;">
                <a href="{% url 'ors:requestSeller' product.id %}">
                  <i class="material-icons" style="font-size: 48px;">
                    person_add
                  </i>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <center>
  {% if feed.has_other_pages %}
    <ul class="pagination">
      {% if feed.has_previous %}
        <li><a href="?page={{ feed.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in feed.paginator.page_range %}
        {% if feed.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if feed.has_next %}
        <li><a href="?page={{ feed.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
  </center>
</div>

  {% else %}
     <div class="emptyList">
        <div class="row">
          
        </div>
     </div>
{% endif %}

</div>

<footer id="main-footer" class="bg-dark text-white mt-5 p-1" style="bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project A-10
          </p>
        </div>
      </div>
    </div>
  </footer>


<script>  
  $(document).ready(function(){
          $("#message").fadeIn();
          $("#message").fadeOut(6000);
      });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{% static 'ors/js/jquery.waypoints.min.js' %}"></script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
</body>
</html>
