
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style type="text/css">

    .OptionTray {
      vertical-align: middle;
    }

    </style>
	<title>
		Profile Dashboard
	</title>
</head>


<body style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat;">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: +2;">
  <a class="navbar-brand" href="#">ONLINE RENTAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  	<ul class="navbar-nav mr-auto">
  		<li class="nav-item">
          <form class="form-inline"  method="POST" action="{% url 'ors:search' %}" enctype="multipart/form-data">
            {% csrf_token %}
             <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <div class="dropdown show" style="margin-right: 6px;">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  Catagory
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">C1</a>
                    <a class="dropdown-item" href="#">C2</a>
                  </div>
                </div>
                <center>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </center>
          </form>
  		</li>
  	</ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 	aria-expanded="false">
          	Post
        	</a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          	<a class="dropdown-item" href="{% url 'ors:addProduct' %}">Post an add</a>
          	<a class="dropdown-item" href="{% url 'ors:myPosts' %}">Manage post</a>
        	</div>
    	</li>
      <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          	Orders
        	</a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         		<a class="dropdown-item" href="{% url 'ors:orderHistory' %}">My Orders</a>
          		<a class="dropdown-item" href="#">Requested</a>
        	</div>
    	</li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User(dave)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:wishlist' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'ors:profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'ors:logout' %}">Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"  style="margin-top: 56px; z-index: 1;">
  <div class="ml-auto">
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse" id="navbarToggleExternalContent" >
    <h4 class="text-white">Sort by</h4>
    <button type="button" class="btn btn-outline-light">Newest First</button>
    <button type="button" class="btn btn-outline-light">Price - Low to High</button>
    <button type="button" class="btn btn-outline-light">Price - High to Low</button>
    <button type="button" class="btn btn-outline-light">Relevance</button>
    <button type="button" class="btn btn-outline-light">Popularity</button>
  </div>
  
</nav>


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"  style="margin-top: 56px; z-index: 1;">
  <div class="collapse" id="collapseExample">
    <h4 class="text-white">Sort by</h4>
    <button type="button" class="btn btn-outline-light">Newest First</button>
    <button type="button" class="btn btn-outline-light">Price - Low to High</button>
    <button type="button" class="btn btn-outline-light">Price - High to Low</button>
    <button type="button" class="btn btn-outline-light">Relevance</button>
    <button type="button" class="btn btn-outline-light">Popularity</button>
  </div>
  <div class="ml-auto">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        SORT BY
    </button>
  </div>
</nav>


<div style="margin-top: 168px ; padding: 2%; z-index:-1" >
 {% if feed %}
  {% for product in feed %}
  <div class="card bg-light mb-3" id="Product">
    <div class="card-header">Item # </div>
    <div class="card-body">
      <a href="{% url 'ors:productPage' product.id %}" style="text-decoration:none">
        <h5 class="card-title">{{product.name}}</h5>
      </a>
      <div class="row">
        <div class="col-lg-4 col-xs-12 border" style="vertical-align: middle;">
          <a href="{% url 'ors:productPage' product.id %}" style="text-decoration:none; padding: auto;">
            <img src="{{ product.image.url }}" width="100%">
          </a>
        </div>
        <div class="col-lg-7 col-xs-12">
          <div class="row" style="padding: 2%;">
            by - {{product.owner}} 
          </div>
          <div class="row" style="padding: 2%; max-height: 155px; overflow-y: hidden;" >
             epsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="row" style="padding: 2%;height: 45px;">
            <h5> Price: {{product.price}}</h5> 
          </div>
        </div>
        <div class="col-lg-1 col-xs-12" style="">
            <div class="row" style=" height: 100%;">
              <div class="col-6 col-lg-12" style="display: flex; justify-content: center; align-items: center;">
                  <i class="material-icons" style="font-size: 48px;">
                    local_grocery_store
                  </i>
              </div>
              <div class="col-6 col-lg-12" style="display: flex; justify-content: center; align-items: center;">
                  <i class="material-icons" style="font-size: 48px;">
                    person_add
                  </i>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
   {% endfor %}
{% endif %}
</div>
  
  <!------------------------------------------------------LOOP------------------------------------------------------>
  <!-- <div class="card bg-light mb-3" id="Product">
    <div class="card-header">Item # </div>
    <div class="card-body">
      <h5 class="card-title">Product Name</h5>
      <div class="row">
        <div class="col-4">
          Profile Photo
        </div>
        <div class="col-6">
          <div class="row">
            by - (Seller Name) 
          </div>
          <div class="row">
            epsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
        <div class="col-2">
          Options
        </div>
      </div>
    </div>
  </div> -->
  <!------------------------------------------------------LOOP------------------------------------------------------>
  <!-- <div class="card bg-light mb-3" id="Product">
    <div class="card-header">Item # </div>
    <div class="card-body">
      <h5 class="card-title">Product Name</h5>
      <div class="row">
        <div class="col-4">
          Profile Photo
        </div>
        <div class="col-6">
          <div class="row">
            by - (Seller Name) 
          </div>
          <div class="row">
            epsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
        <div class="col-2">
          Options
        </div>
      </div>
    </div>
  </div> -->
  <!------------------------------------------------------LOOP------------------------------------------------------>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>