<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <center>
  Hi {{ user.username }}!


    <form method="post" action="{% url 'ors:search' %}" enctype="multipart/form-data">
        {% csrf_token %}
        Search Product:
        <input name="search"><br><br>
        <input type="submit" value="Search">
    </form>

 {% if sfeed %}
<h4>Feed</h4>

    {% for product in sfeed %}
        <p></p>
        <h5><b>Product Name:</b></h5>
        <a href= "{% url 'ors:productPage' product.id %}">{{product.name}}</a><br>
        <h5><b>Product Description:{{product.description}}</b></h5>
        <h5><b>Price: {{product.price}}</b></h5><br>
        <br>
        <p></p>
    {% endfor %}
{% endif %}

  <p><a href="{% url 'ors:addProduct' %}">Add Product</a></p>
  <p><a href="{% url 'ors:orderHistory' %}">My Orders</a></p>
  <p><a href="{% url 'ors:wishlist' %}">Wishlist</a></p>
  <p><a href="{% url 'ors:logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'ors:login' %}">login</a>
{% endif %}

{% if feed %}
<h4>Feed</h4>

    {% for product in feed %}
        <p></p>
        <h5><b>Product Name:</b></h5><br>
        <a href="{% url 'ors:productPage' product.id %}">{{product.name}}</a><br>
        <h5><b>Product Description:</b></h5><br>
        {{product.description}}<br>
        <h5><b>Price: {{product.price}}</b></h5><br>
        <br>

        <p></p>
    {% endfor %}
{% endif %}
</center>
{% endblock %}