<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
       rel="stylesheet">

    <title>POST AD</title>
  </head>
  <body style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat;">
    <a class="navbar-brand" href="{% url 'ors:dashboard' %}"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;"> ONLINE RENTAL STORE</a>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: +2;">
  <a class="navbar-brand" href="{% url 'ors:dashboard' %}"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">ONLINE RENTAL STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ors:dashboard' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            Post
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" href="{% url 'ors:addProduct' %}">Post an Ad<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'ors:myPosts' %}">Manage post</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Orders
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:orderHistory' %}">My Orders</a>
              <a class="dropdown-item" href="{% url 'ors:requests' %}">requests</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Notification
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:wishlist' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'ors:profile' %}">Profile<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'ors:logout' %}">Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>

{% for message in messages %}
      <div class="nav bg-light" id="message" style="display: none; z-index: 2; margin-top: 56px;">
        <center>
          {{ message }}
        <!-- <a href="#" class="del-msg">&times;</a> -->
        </center>
      </div>
  {% endfor %}

<div class="container-fluid" style="margin-top:112px;">



<div class="card" >
  <div class="card-header">
    <h4>PRODUCT INFO</h4>
  </div>


        <form method="post" action="{% url 'ors:addProduct' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-xs-12" style="height:">
                <img id="selectedFile" src="{% static 'ors/image/upload.png' %}" width="100%">

                <div class="custom-file" style="margin-bottom: 0px;">
                    <div class="input-group mb-3">
                        <input name="image" type="file" accept="image/*" class="custom-file-input" id="inputGroupFile" onchange="readURL(this);" multiple required>
                    <label class="custom-file-label" for="inputGroupFile" name="image">Choose file</label>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xs12" style="padding: 4px;">

          <div class="row form-group">
            <div class="col" style="margin: 0px;">
              <label for="productname"> Product Name</label>
              <input type="text" class="form-control" placeholder="Product Name" name="name" required>
            </div>
            <div class="form-group" >
              <label for="quantity"> Quantity</label>
              <input type="number" min="0" class="form-control" placeholder="quantity" name="quantity" required>
            </div>
          
          </div>

          
          <div class="form-group">
              <label for="category">FOR</label>
                <select name="ptype" class="form-control" id="for_drop" onChange="changetextbox();">
                  <option value="rent" selected>Rent</option>
                  <option value="sell">Sell</option>
                  <option value="free">Free</option>
                </select>
              
                <!-- <div class="row">
                  <input type="radio" name="for" value="rent" id="rent">Rent
                  <input type="radio" name="for" value="sell" id="sell">Sell 
                  <input type="radio" name="for" value="free" id="free" onChange="changetextbox();">Free
                </div> -->
          </div>
          <div class="row form-group">
            <div class="col" style="margin: 0px;">
              <label for="price"> Price</label>
              <input type="number" min="0" class="form-control" placeholder="Price" name="price" id="price_drop" required>
            </div>
            <div class="col">
              <label for="Duration"> Period </label>
              <select name="period" class="form-control" id="duration_drop">
                  <option value="per Day" selected>per Day</option>
                  <option value="per Week">per Week</option>
                  <option value="per Month">per Month</option>
                </select>
            </div>
          </div>
          <div class="col">
              <label for="tttype">Category</label>
                <select name="category" class="form-control" id="tttype">
                  <option value="electronics" selected>Electronic</option>
                  <option value="stationary">Stationary</option>
                  <option value="fashion">Fashion</option>
                  <option value="sports">Sports</option>
                  <option value="lifestyle">Lifestyle</option>
                  <option value="other">Other</option>
                </select>
            </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea  name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
          </div>
         <center> <button type="submit" class="btn btn-primary mb-2">POST</button> </center>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<footer id="main-footer" class="bg-dark text-white mt-5 p-4" style="bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project A-10
          </p>
        </div>
      </div>
    </div>
  </footer>
    <script>  
  $(document).ready(function(){
          $("#message").fadeIn();
          $("#message").fadeOut(6000);
      });

</script>
  <script>
  function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('#selectedFile')
                      .attr('src', e.target.result)
              };

              reader.readAsDataURL(input.files[0]);
          }
          var formData = new FormData();
 
          var file;

          
          var i;
          
          for (i = 0; i < input.files.length; i++) { 
                file = document.getElementById("inputGroupFile").files[i];
                formData.append("Filedata", file);
          }
          // console.log(formData.length);
          
          var t = file.type.split('/').pop().toLowerCase();
          if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
              alert('Please select a valid image file');
              document.getElementById("inputGroupFile").value = '';
              return false;
            }
          return true;
      }
  </script>

  <script type="text/javascript">
    function changetextbox()
    { 
        if(document.getElementById("for_drop").value === "free") {
            document.getElementById("price_drop").disabled= true;
            document.getElementById("duration_drop").disabled= false;
            // console.log("True found");
        }
        else if(document.getElementById("for_drop").value === "rent") {
            document.getElementById("price_drop").disabled= false;
            document.getElementById("duration_drop").disabled= false;
            // console.log("True found");
        } 
        else if(document.getElementById("for_drop").value === "sell") {
            document.getElementById("price_drop").disabled= false;
            document.getElementById("duration_drop").disabled= true;
            // console.log("True found");
        } 
    }
  </script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
