<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Product Detailed</title>
    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
    </style>
    
  </head>
  <body style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat;">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: +2;">
  <a class="navbar-brand" href="{% url 'ors:dashboard' %}"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">ONLINE RENTAL STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ors:dashboard' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            Post
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:addProduct' %}">Post an AD</a>
            <a class="dropdown-item" href="{% url 'ors:myPosts' %}">Manage post</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Orders
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:orderHistory' %}">My Orders</a>
              <a class="dropdown-item" href="{% url 'ors:requests' %}">Requests</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Notification
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="padding:1px; max-height: 200px; overflow-y: auto;">
            {% if notifications %}
            {% for notification in notifications %}
              {% if notification.viewed is False %}
                <a class="dropdown-item" style="background-color:#7C4DFF; margin-bottom:1px;" href="{% url 'ors:notificationShow' notification.id %}">{{ notification.message }} | {{ notification.viewed }}</a>
              {% else %}
                <a class="dropdown-item" style="margin-bottom:1px;" href="{% url 'ors:notificationShow' notification.id %}">{{ notification.message }} | {{ notification.viewed }}</a>
              {% endif %}
            {% endfor %}
            {% endif %}
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User(dave)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:wishlist' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'ors:profile' %}">Profile </a>
            <a class="dropdown-item" href="{% url 'ors:logout' %}">Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top:112px;">
  <div class="row" style="margin: 4px; border: solid 1px black;" >
    <div class="col-lg-8 col-xs-12">
      <div class="row">
          ** picture **
        </div>
        <div class="row">
          <pre>
          <b>Product Name: </b>{{product.name}}
          <b>Product Description:</b>{{product.description}}
          <b>Price:</b>{{product.price}}
          <b>Posted on:</b>{{product.postdate}}
          <b>For {{product.ptype}}</b>
        </pre>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <div class="card">
          <div class="card-header">
            SELLER:: <b>Seller Name:</b>{{product.owner}}
          </div>
          <div class="card-body">
            <div class="row">
              ** picture **
            </div>
            <div class="row">
              Description
              <pre>
                <b>Seller Name:</b>{{product.owner}}
                <b>Rating:</b>****
                <b>Mobile:</b>{{product.owner.mobileNumber}}
                {% if feed %}
                  Reviews:<br>
                  {% for review in feed %}
                    Ratings: {{review.rating}}<br>
                    Comment:
                    {{review.description}}<br><br>
                  {% endfor %}
                {% endif %}
              </pre>
            </div>
          </div>
        <div class="class-footer">
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-3">
        Wishlist
      </div>
       <div class="col-3">
        Request
      </div>
       <div class="col-3">
        Share
      </div>
       <div class="col-3">
        Report
      </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
