<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Edit Profile</title>
  </head>
  <body style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat; height: 100vh;">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: +2;">
  <a class="navbar-brand" href="{% url 'ors:dashboard' %}"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">ONLINE RENTAL STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ors:dashboard' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            Post
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:addProduct' %}">Post an AD</a>
            <a class="dropdown-item" href="{% url 'ors:myPosts' %}">Manage post</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Orders
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:orderHistory' %}">My Orders</a>
              <a class="dropdown-item" href="{% url 'ors:requests' %}">Requests</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Notification
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="padding:1px;">
            {% if notifications %}
            {% for notification in notifications %}
              {% if notification.viewed is False %}
                <a class="dropdown-item" style="background-color:#FF5252; margin-bottom:1px;" href="{% url 'ors:notificationShow' notification.id %}">{{ notification.message }} | {{ notification.viewed }}</a>
              {% else %}
                <a class="dropdown-item" style="margin-bottom:1px;" href="{% url 'ors:notificationShow' notification.id %}">{{ notification.message }} | {{ notification.viewed }}</a>
              {% endif %}
            {% endfor %}
            {% endif %}
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:wishlist' %}">Wishlist</a>
            <a class="dropdown-item active" href="{% url 'ors:profile' %}">Profile<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'ors:logout' %}">Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top:112px;">
<div class="card" >
  <div class="card-header">
    <div class="row">
      <div class="col-3" >
        <center><a href="{% url 'ors:profile' %}"><button type="submit" class="btn btn-warning mb-2" style="display: inline; right: 2px; color:white;">BACK</button></a></center>
      </div>
      <div class="col-9 text-right">
        <h4>EDIT PROFILE</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'ors:editProfile' %}" enctype="multipart/form-data">
          {% csrf_token %}
    <div class="row">
      <div class="col-xs-12 col-lg-5" >
        <center>
          <img id="selectedFile" src="{{ user.dp.url }}" style="height: 200px; overflow-y: hidden;" >
        </center>
        <div class="custom-file" style="margin-bottom: 0px;">
          <div class="input-group mb-3">
            <input type="file" class="custom-file-input" name="image" id="inputGroupFile" onchange="readURL(this);">
            <label class="custom-file-label" for="inputGroupFile" name="image">Choose file</label>
          </div>
      </div>
    </div>
      <div class="col-xs-12 col-lg-7" style="padding: 4px;">
          <div class="row form-group">
            <div class="col-12 col-lg-6">
              <label for="username"> Name </label>
              <input type="text" class="form-control" placeholder="{{ user.name }}" name="name">
            </div>
            <div class="col-12 col-lg-6">
              <label for="mobilenumber"> Contact no. </label>
              <input type="number" class="form-control" placeholder="{{ user.mobileNumber }}" name="mobileNumber">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Bio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="{{user.bio}}"" name="bio" rows="3"></textarea>
          </div>
         <center> <button type="submit" class="btn btn-primary mb-2">Update</button> </center>
      </div>
    </div>
  </form>
  </div>
  <div class="card-footer">

  </div>

</div>
</div>

<footer id="main-footer" class="bg-dark text-white mt-5 p-1" style="bottom: 0; position: fixed; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project A-10
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
  function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('#selectedFile')
                      .attr('src', e.target.result)
              };

              reader.readAsDataURL(input.files[0]);
          }
      }
  </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
