<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat;">
    <center>
    <form method="post" action="{% url 'ors:signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        Username:
        <input name="uname"><br><br>
        FullName:
        <input name="fname"><br><br>
        Email
        <input type="email" name="email"><br><br>
        Password
        <input type="password" name="passwd"><br><br>
        Roll Number
        <input type="charset" name="roll_no"><br><br>
        Phone Number
        <input type="charset" name="phno"><br><br>
        Batch
        <select name="batch">
            <option value="UG-1" selected>UnderGraduate 1st year</option>
            <option value="UG-2">UnderGraduate 2nd year</option>
            <option value="UG-3">UnderGraduate 3rd year</option>
            <option value="UG-4">UnderGraduate 4th year</option>
            <option value="MS">MS</option>
            <option value="Ph.D">Ph.D</option>
            <option value="Faculty">Faculty</option>
        </select><br><br>
        Gender
        <select name="gender">
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
        </select><br><br>
        Profile Photo
        <input type="file" name="image"><br><br><br>
        <input type="submit" value="Register">
    </form>
    </center>
</body>
</html>