<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>POST AD</title>
  </head>
  <body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: +2;">
  <a class="navbar-brand" href="{% url 'ors:dashboard' %}">ONLINE RENTAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ors:dashboard' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            Post
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" href="{% url 'ors:addProduct' %}">Post an Ad<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'ors:myPosts' %}">Manage post</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Orders
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:orderHistory' %}">My Orders</a>
              <a class="dropdown-item" href="#">Requested</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User(dave)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'ors:wishlist' %}">Wishlist</a>
            <a class="dropdown-item" href="{% url 'ors:profile' %}">Profile<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'ors:logout' %}">Sign Out</a>
          </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top:112px;">
<div class="card" >
  <div class="card-header">
    <h4>PRODUCT INFO</h4>
  </div>
  

        <form method="post" action="{% url 'ors:addProduct' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-xs-12">
              <img src="{% static 'ors/image/upload.png' %}" width="100%">
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <div class="col-lg-6 col-xs12" style="padding: 4px;">
          
          <div class="row form-group">
            <div class="col" style="margin: 0px;">
              <label for="productname"> Product Name</label>
              <input type="text" class="form-control" placeholder="Product Name" name="name">
            </div>
            <div class="col" style="margin: 0px;">
              <label for="price"> Price</label>
              <input type="number" min="0" class="form-control" placeholder="Price" name="price">
            </div>
          </div>
          <div class="form-group" >
              <label for="quantity"> Quantity</label>
              <input type="number" min="0" class="form-control" placeholder="Quantity" name="quantity">
          </div>
          <div class="form-group">
              <label for="catagory">Catagory</label>
                <select name="ptype" class="form-control" id="catagory">
                  <option value="1" selected>Sell</option>
                  <option value="2">Rent</option>
                  <option value="3">Free</option>
                </select>
          </div>
          <div class="row form-group">
            <div class="col">
              <label for="tttype">Catagory</label>
                <select name="category" class="form-control" id="tttype">
                  <option value="1" selected>Electronic</option>
                  <option value="2">Stationary</option>
                  <option value="3">Fashion</option>
                  <option value="4">Sports</option>
                  <option value="5">Lifestyle</option>
                  <option value="6">Others</option>
                </select>
            </div>
            <div class="col">
              <label for="price"> Duration </label>
              <input type="number" min="0" class="form-control" placeholder="Price" name="price">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea  name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
         <center> <button type="submit" class="btn btn-primary mb-2">POST</button> </center>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    
  </div>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>