<!doctype html>
{% load static %}
<html lang="en">
  <head id="LoginForm">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="stylesheet" href="{% static 'ors/css/login.css' %}" >

    <title>LOGIN</title>
  </head>
<body id="LoginForm" style="background-image: url({% static 'ors/image/BackgroundBlur.jpg' %}); background-size: cover; background-repeat: no-repeat; ">

    <nav class="navbar  sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="index.html" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">A-10 ONLINE RENTAL STORE</a>
      </div>
    </nav>

<div class="container">
  <div class="login-form" style="margin-top: 5%;">
    <div class="main-div card">
      <div class="panel">
        <h2>LOGIN</h2>
        {% if messages %}
          <div class="alert alert-danger messages" >
            {% for message in messages %}
            <span class="{{ message.tags }}"> {{ message }} </span>
            {% endfor %}
          </div>
        {% endif %} 
      </div>
      <form  method="POST" action="{% url 'ors:login' %}">
        {% csrf_token %}
        <div class="form-group">
            
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address" >
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" >
        </div>
        <div class="forgot">
          <a href="#">Forgot password?</a>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

<footer id="main-footer" class="bg-dark text-white mt-5 p-4" style="bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project A-10
          </p>
        </div>
      </div>
    </div>
  </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>